/*----------------------------------------*/
/*  27. CTA CSS 
/*----------------------------------------*/

.cta {
    &__area {
        margin-bottom: -15rem;

        @include xl {
            margin-bottom: -12rem;
        }
        @include sm {
            margin-bottom: -8rem;
        }
    }

    &__content {
        background: #ffffff !important;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
        border-radius: 20px;
        z-index: 100;
    }

    &__text {
        margin-left: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        @include lg {
            padding: 4rem;
        }

        h3 {
            @include xl {
                font-size: 3rem;
                line-height: 3rem;
            }
        }

        @include sm {
            padding: 2rem;

            h3 {
                font-size: 2rem;
                line-height: 2rem;
            }
        }
    }

    &__images {
        @include lg {
            display: none !important;
        }

        &--first {
            img {
                width: 35rem;

                @include xl {
                    width: 25rem;
                }
            }
        }

        &--second {
            img {
                width: 21.3rem;

                @include xl {
                    width: 152px;
                }
            }
        }
    }
}
