/*----------------------------------------*/
/*  08. Features CSS 
/*----------------------------------------*/

.features {
    position: relative;
    transform: translateY(-50%);

    &-2 {
        transform: translateY(50%);
    }

    &__container {
        border-radius: 1rem;
        padding-top: 4rem;
        padding-bottom: 4rem;

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 2rem;

        @include xl {
            justify-content: center;
        }
    }

    &__content {
        padding-inline: 2rem;

        display: flex;
        justify-content: center;
        align-items: center;

        &--icon {
            position: relative;
            width: 8rem;
            height: 8rem;

            span {
                display: inline-block;
                border-radius: 50%;
                width: 5rem;
                height: 5rem;
                position: absolute;
                top: 0;
                left: 0;
            }

            span:nth-child(1) {
                border: 1px solid var(--primary);
            }

            span:nth-child(2) {
                top: 2px;
                left: 2px;
                background: #828282;
            }

            span:nth-child(3) {
                top: 10px;
                left: 10px;
                color: #828282;
                background: var(--white);
                box-shadow: -1px 8px 8px -4px rgba(0, 0, 0, 0.11);

                i {
                    position: relative;
                    top: 1.5rem;
                    left: 1.8rem;
                }
            }
        }

        &--text {
            h4 {
                line-height: 2.9rem;
            }
            span {
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                letter-spacing: 0.2em;
            }
        }
    }
}
