/*----------------------------------------*/
/*  25. Live CSS
/*----------------------------------------*/

.live {
    padding-top: 25rem;
    padding-bottom: 25rem;
    background-color: #f0f4f5;

    &__head {
        h2,
        p {
            margin-inline: auto;

            width: 60%;

            @include xl {
                width: 100%;
            }
        }

        .button--container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 2rem;
        }
    }

    &__call {
        height: 50rem;
        overflow: hidden;
        border-radius: 1rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &--controller {
            bottom: 13%;
            left: 50%;
            transform: translate(-50%, -50%);

            span:not(:last-child) {
                margin-right: 2rem;
            }
        }

        &--participant {
            left: 15%;
            transform: translateY(-50%);

            img {
                border-radius: 1rem;

                width: 20%;
                height: 20%;
            }
        }
    }
}
