/*----------------------------------------*/
/*  19. Pricing CSS
/*----------------------------------------*/

.pricing {
    &__card {
        padding: 3.5rem 4rem;
        border: 1px solid #e0e0e0;

        @include md {
            max-width: 50rem;
        }

        margin-inline: auto;

        @include xl {
            margin-bottom: 2rem;
        }

        &--thumb {
            height: 20rem;
        }

        &--img {
            top: 10%;
            right: 10%;
            height: 11rem;
        }
    }
}
