/*----------------------------------------*/
/*  20. Product CSS
/*----------------------------------------*/

.product {
    &__buttons {
        .quantity-btn li {
            width: 5rem;
            height: 5rem;
            border: 1px solid #e0e0e0;
            font-weight: 600;
            line-height: 5rem;
        }

        .add-btn i {
            font-size: 1.4rem !important;
        }

        .link-btn {
            box-shadow: 0px 4px 2rem rgba(0, 0, 0, 0.14);
        }
    }

    &__content {
        margin-left: 3rem;

        @include md {
            margin-left: 0;
            margin-top: 3rem;
        }
    }

    &__buttons {
        display: flex;
        align-items: center;

        @include lg {
            gap: 2rem;
            flex-direction: column;
        }

        @include md {
            flex-direction: row;
        }

        @include breakpoint(400px) {
            flex-direction: column;
        }
    }
}
